body {
  background-image: url('../images/background.jpg');
  background-color: #F0EFE2;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  color: #000;
  font-size: 16px;
  font-weight: 200;
}
#main {
  clear: both;
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(255,255,255, 1);
  padding: 20px;
}
.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url('../images/banner1.jpg');
  opacity: 0.9;
  background-color: rgba(0,0,0,0.8);
  height: 80px;
}
#header {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
}
#name {
  padding-left: 10px;
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  width: 400px;
}
#email {
  padding-left: 10px;
  font: normal 0.90em 'century gothic', arial, sans-serif;
  margin-top: 5px;
}
#navigator {
  margin: auto 0;
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
#navigator a:link {
  text-decoration: none;
}
#navigator a:hover, #navigator a:visited {
  background: #364C62 ;
}
.nav_cell {
  display: inline-block;
  color: #FFF;
  font: normal 120% arial, sans-serif;
  text-transform: uppercase;
  padding:0 10px;
}

#selfie {
  margin: 20px 20px 0 20px;
  float: left;
}
#selfie img {
  width: 240px;
  box-shadow: 3px 3px 10px #888;
}
.right {
  margin-right: 10px;
  line-height: 1.5;
}
.introduction {
  margin-bottom: 20px;
  overflow: auto;
}

span.emph {
  color: #555;
  font-weight: normal;
}
.title {
  color: #213355;
  font-weight: bold;
  font: normal 175% 'century gothic', arial, sans-serif;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.subtitle {
  color: #213355;
  margin-left: 20px;
  font-weight: bold;
  font: normal 120% 'century gothic', arial, sans-serif;
  margin-bottom: 10px;
}

a:link, a:visited {
  color: #2BC246;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a.anchor {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

ul li {
  margin: 0 0 6px 0;
  line-height: 125%;
}
ul {
  list-style-type: circle;
  margin: 2px 0 22px 0px;
}
ul li.big{
 margin-left: 260px;
}
ol{ 
  margin: 2px 0 22px 0px;
}
ol li{ 
  margin: 0 0 6px 0;
  line-height: 125%;
}

